<a href="https://colab.research.google.com/github/Charishmaaaa/demo/blob/main/icp2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
dog = {}
dog['name'] = 'Fido'
dog['color'] = 'Brown'
dog['breed'] = 'Golden Retriever'
dog['legs'] = 4
dog['age'] = 3

student = {
    'first_name': 'John',
    'last_name': 'Doe',
    'gender': 'Male',
    'age': 22,
    'marital_status': 'Single',
    'skills': ['Python', 'JavaScript'],
    'country': 'USA',
    'city': 'New York',
    'address': '123 Main St'
}


student_length = len(student)

skills_value = student['skills']
skills_data_type = type(skills_value)

student['skills'].extend(['React', 'HTML'])

student_keys = list(student.keys())

student_values = list(student.values())

print("Dog Dictionary:", dog)
print("Student Dictionary:", student)
print("Length of Student Dictionary:", student_length)
print("Data type of 'skills' value:", skills_data_type)
print("Modified Student Dictionary:", student)
print("Dictionary Keys:", student_keys)
print("Dictionary Values:", student_values)

Dog Dictionary: {'name': 'Fido', 'color': 'Brown', 'breed': 'Golden Retriever', 'legs': 4, 'age': 3}
Student Dictionary: {'first_name': 'John', 'last_name': 'Doe', 'gender': 'Male', 'age': 22, 'marital_status': 'Single', 'skills': ['Python', 'JavaScript', 'React', 'HTML'], 'country': 'USA', 'city': 'New York', 'address': '123 Main St'}
Length of Student Dictionary: 9
Data type of 'skills' value: <class 'list'>
Modified Student Dictionary: {'first_name': 'John', 'last_name': 'Doe', 'gender': 'Male', 'age': 22, 'marital_status': 'Single', 'skills': ['Python', 'JavaScript', 'React', 'HTML'], 'country': 'USA', 'city': 'New York', 'address': '123 Main St'}
Dictionary Keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Dictionary Values: ['John', 'Doe', 'Male', 22, 'Single', ['Python', 'JavaScript', 'React', 'HTML'], 'USA', 'New York', '123 Main St']

In [3]:

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

ages.sort()

min_age = ages[0]
max_age = ages[-1]

ages.extend([min_age, max_age])

n = len(ages)
if n % 2 == 0:
    middle1 = ages[n // 2 - 1]
    middle2 = ages[n // 2]
    median_age = (middle1 + middle2) / 2
else:
    median_age = ages[n // 2]

average_age = sum(ages) / len(ages)

age_range = max_age - min_age
print("Sorted Ages:", ages)
print("Min Age:", min_age)
print("Max Age:", max_age)
print("Median Age:", median_age)
print("Average Age:", average_age)
print("Age Range:", age_range)

Sorted Ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Min Age: 19
Max Age: 26
Median Age: 24.0
Average Age: 22.75
Age Range: 7

In [13]:

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]


length_of_it_companies = len(it_companies)


it_companies.add('Twitter')


it_companies.update(['LinkedIn', 'Netflix'])

it_companies.remove('IBM')

union_of_A_and_B = A.union(B)

intersection_of_A_and_B = A.intersection(B)

is_A_subset_of_B = A.issubset(B)

are_A_and_B_disjoint = A.isdisjoint(B)

A.update(B)
B.update(A)

symmetric_difference_A_and_B = A.symmetric_difference(B)


del A
del B

age_set = set(age)
length_of_age_list = len(age)
length_of_age_set = len(age_set)


print("Length of it_companies:", length_of_it_companies)
print("Updated it_companies:", it_companies)
print("Union of A and B:", union_of_A_and_B)
print("Intersection of A and B:", intersection_of_A_and_B)
print("Is A subset of B:", is_A_subset_of_B)
print("Are A and B disjoint sets:", are_A_and_B_disjoint)
print("Symmetric difference between A and B:", symmetric_difference_A_and_B)
print("Length of age list:", length_of_age_list)
print("Length of age set:", length_of_age_set)

Length of it_companies: 7
Updated it_companies: {'LinkedIn', 'Google', 'Facebook', 'Netflix', 'Microsoft', 'Twitter', 'Oracle', 'Amazon', 'Apple'}
Union of A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
Is A subset of B: True
Are A and B disjoint sets: False
Symmetric difference between A and B: set()
Length of age list: 8
Length of age set: 5

In [14]:
class Employee:

    employee_count = 0

    def __init__(self, name, family, salary, department):

        self.name = name
        self.family = family
        self.salary = salary
        self.department = department


        Employee.employee_count += 1

    def display_employee_details(self):
        print(f"Name: {self.name}")
        print(f"Family: {self.family}")
        print(f"Salary: ${self.salary}")
        print(f"Department: {self.department}")

    @classmethod
    def average_salary(cls, employees):
        total_salary = sum(employee.salary for employee in employees)
        return total_salary / len(employees)

class FulltimeEmployee(Employee):
    def __init__(self, name, family, salary, department, hours_per_week):
        super().__init__(name, family, salary, department)
        self.hours_per_week = hours_per_week

    def display_employee_details(self):
        super().display_employee_details()
        print(f"Hours per Week: {self.hours_per_week}")

employee1 = Employee("Smith", "Spouse and Child", 60000, "HR")
employee2 = Employee("Rose Smith", "Spouse and Child", 55000, "Finance")


fulltime_employee1 = FulltimeEmployee("Bob Johnson", "Spouse", 80000, "Engineering", 40)
fulltime_employee2 = FulltimeEmployee("Eve Anderson", "Spouse and Child", 75000, "Marketing", 35)

print("Employee Details:")
employee1.display_employee_details()
print("\nFulltime Employee Details:")
fulltime_employee1.display_employee_details()

employees = [employee1, employee2, fulltime_employee1, fulltime_employee2]
avg_salary = Employee.average_salary(employees)
print(f"\nAverage Salary: ${avg_salary:.2f}")

print(f"\nTotal Number of Employees: {Employee.employee_count}")

Employee Details:
Name: Smith
Family: Spouse and Child
Salary: $60000
Department: HR

Fulltime Employee Details:
Name: Bob Johnson
Family: Spouse
Salary: $80000
Department: Engineering
Hours per Week: 40

Average Salary: $67500.00

Total Number of Employees: 4